.logo {
    font-size: 32px;
   }

   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(204, 35, 35);
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   .menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 background-color: #ffffff;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}
/* Media quearies navbar */
@media (max-width: 768px) {
    .menu { 
     display:none;
     position: absolute;
     background-color:teal;
     right: 0;
     left: 0;
     text-align: center;
     padding: 16px 0;
    }
    .menu li:hover {
     display: inline-block;
     background-color:#4c9e9e;
     transition: 0.3s ease;
    }
}